name: SecureOps Full MLOps Pipeline

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test-train-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: 1. Check out repo
      uses: actions/checkout@v2

    - name: 2. Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: 3. Install Dependencies
      run: pip install pytest pandas scikit-learn

    - name: 4. Run Unit Tests (Quality Assurance)
      run: pytest src/test_model.py

    - name: 5. Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: 6. Install ML Extension
      run: |
        az extension add -n ml
        az configure --defaults group=RG-SecureOps-Final workspace=SecureOps-Workspace location=uksouth

    - name: 7. Submit Cloud Training
      run: az ml job create --file job_command.yml --stream

    - name: 8. Create or Update Endpoint (The Door)
      run: |
        az ml online-endpoint create --name secureops-endpoint-v3 --auth-mode key || \
        az ml online-endpoint update --name secureops-endpoint-v3 --auth-mode key

    - name: 9. Deploy Model to Production
      run: az ml online-deployment create --file deployment.yml --all-traffic